.hero {
    display: flex;
    flex-direction: column;
    color: rgb(46, 37, 37);
    background-color: beige;
    padding: 10px;
    border-radius: 15px;
    max-width: 440px;
    min-width: 250px;
    margin-top: 1%;
}

.hero__info {
    padding: 10px;
}

.hero__pic {
    width: 100%;
}